[submodule "packages/validate"]
	path = packages/validate
	url = ./packages/validate
[submodule "packages/object"]
	path = packages/object
	url = ./packages/object/
[submodule "packages/array"]
	path = packages/array
	url = ./packages/array/
[submodule "packages/math"]
	path = packages/math
	url = ./packages/math/
[submodule "packages/string"]
	path = packages/string
	url = ./packages/string/
[submodule "packages/timing"]
	path = packages/timing
	url = ./packages/timing/
