[submodule "packages/validate"]
	path = packages/validate
	url = ./packages/validate
[submodule "packages/object"]
	path = packages/object
	url = ./packages/object/
[submodule "packages/array"]
	path = packages/array
	url = ./packages/array/
